{% extends 'base.html' %}

{% block title %} Board detail {% endblock %}
{% block content %}
    <main id="dashboard" xmlns="http://www.w3.org/1999/html">
        <h2><button class="button_board"  type="submit"><a href="javascript:history.back()">Back</a></button>
            Add User
            <button class="button_logout" type="submit"><a href="{% url "logout" %}">Logout</a></button>
        </h2>
        <hr class="white">
        <h4 class="welcome">
            {% if board %}
            Name: {{ board.name }}
            Author: {{ board.author }}&nbsp;&nbsp;&nbsp;
            Date of creation: {{ board.date }}

                    Current user:
                    {{ user.username }}
            {% endif %}
        </h4>
        <form method="post" id="AddUser">
        {% csrf_token %}
        {% for field in form %}
            {{ field.label_tag }}<br>
            {{ field }}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
            <br>
            <button class="button_acces" type="submit">Add</button>
          </p>
        {% endfor %}
        <br>
        </form>
    </main>
{% endblock %}
