<!DOCTYPE html>
{% load static %}
<html lang="it">
<head>
    <meta charset="UTF-8">
    <script>
function goBack() {
  window.history.back()
}
</script>
    <title>{% block title %}{% endblock %}</title>

 <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
</head>
<body>

    {% block content %}
    {% endblock %}
<div class="centra">
    {% if messages %}
    <p class="messages">
        {% for message in messages %}
        <h4 {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h4>
        {% endfor %}
    </p>
    {% endif %}
</div>
</body>
</html>
