{% extends 'base.html' %}

{% block title %} Board delete {% endblock %}
{% block content %}
 <main id="dashboard">
     <h2><button class="button_board"  type="submit"><a href="{% url "dashboard" %}">Back</a></button>
            Delete board
            <button class="button_logout" type="submit"><a href="{% url "logout" %}">Logout</a></button>
    </h2>
    <hr class="white">

            {% if board %}
            Name: {{ board.name }}&nbsp;&nbsp;&nbsp;
            Author: {{ board.author }}&nbsp;&nbsp;&nbsp;
            Date of creation: {{ board.date }}&nbsp;&nbsp;&nbsp;

                    Current user:
                    {{ user.username }}
                    <hr class="white">
 {% else %}
                    <h4>Board non esistente!&nbsp;&nbsp;&nbsp;</h4>
            {% endif %}

            <h3> Are you sure to delete "{{ board.name }}" ? </h3>
                 <form action="." method="POST" >
                     {% csrf_token %}
                     <button class="button_acces" type="submit"><a>Delete</a></button>
                 </form>
 </main>

{% endblock %}