{% extends 'base.html' %}

{% block title %} Board detail {% endblock %}
{% block content %}
    <main id="dashboard" xmlns="http://www.w3.org/1999/html">
        <h2><button class="button_board"  type="submit"><a href="{% url "dashboard" %}">Back</a></button>
            Board detail
            <button class="button_logout" type="submit"><a href="{% url "logout" %}">Logout</a></button>
        </h2>
        <hr class="white">
        <h4 class="welcome">
            {% if board %}
            Name: {{ board.name }}&nbsp;&nbsp;&nbsp;
            Author: {{ board.author }}&nbsp;&nbsp;&nbsp;
            Date of creation: {{ board.date }}&nbsp;&nbsp;&nbsp;

                    Current user:
                    {{ user.username }}
                    </h4>

                    <hr class="white">
                <button class="button_board1"  type="submit" onclick="window.location.href = 'createColumn/';">Add new column</button>
                <button class="button_board1"  type="submit" onclick="window.location.href = 'createCard/';">Add new card</button>
                <button class="button_board1"  onclick="window.location.href = 'AddUser';">Manage users </button>
                <button class="button_board1"  type="submit" onclick="window.location.href = 'burndown';">Board's Burndown</button>
            {% else %}
                    <h4>Board non esistente!&nbsp;&nbsp;&nbsp;</h4>
            {% endif %}
    <!-- <h4 class="welcome"> {#  #}{ user.username }}</h4>  -->
        <table>

            {% if columns %}
            {%  for column in columns %}
                <th>
                    <hr class="white">
                    <a href="modifyColumn/{{ column.id }}" >{{ column.name }}</a>
                    <button class="button_delete"  onclick="window.location.href = 'columnDelete/{{ column.id }}';">
                    X
                    </button>
                    <hr class="white">
                    {% if  cards %}

                        {% for card in cards %}
                            {% if card.column_container == column  %}
                                <div class="content1">{{ card.title }}</div>



                            {% else %}
                            <div class="content2">
                                null
                            </div>
                            {% endif %}
                        {% endfor %}
                {% endif %}
                </th>
            {%  endfor %}
            {% endif %}

        </table>
    </main>
{% endblock %}