{% extends 'base.html' %}

{% block title %} Burndown {% endblock %}
{% block content %}
    <main id="dashboard" xmlns="http://www.w3.org/1999/html">
        <h2><button class="button_board"  type="submit"><a href="javascript:history.back()">Back</a></button>
            Burndown of {{ board.name }}
            <button class="button_logout" type="submit"><a href="{% url "logout" %}">Logout</a></button>
        </h2>
        <hr class="white">
        <h4 class="welcome">
            {% if board %}
            Name: {{ board.name }}
            Author: {{ board.author }}&nbsp;&nbsp;&nbsp;
            Date of creation: {{ board.date }}

                    Current user:
                    {{ user.username }}
            {% endif %}
        <hr class="white">
        </h4>
        <h3>Number of card in board: {{ totalCards }}</h3>
        <h3>Total story points: {{ storyPoints }}</h3>
        <h3>Number of expired cards : {{ numberOfExpiredCards }}</h3>
        <h3>Cards for each column:</h3>
        {% for c in cardsInColumn %}
            <li>Column "{{ c.name }}" has {{ c.numberOfCardsForCol }} cards</li>
        {% endfor %}
    </main>
{% endblock %}