{% extends 'base.html' %}

{% block title %} Modify Card {% endblock %}
{% block content %}
 <main id="dashboard">
     <h2><button class="button_board"  type="submit"><a href="javascript:history.back()">Back</a></button>
            Modify Card
            <button class="button_logout" type="submit"><a href="{% url "logout" %}">Logout</a></button>
    </h2>
    <hr class="white">

            {% if not card %}
                    <h4>Card doesn't exist!</h4>
            {% else %}

            <h3> You are modifying card "{{ card.title }}" of the board "{{ board.name }}"  </h3>
                 <form action="." method="POST" >
                     {% csrf_token %}
                     {{ form.as_p }}

                     <button class="button_acces" type="submit"><a>Modify</a></button>
                 </form>
            {%  endif %}
 </main>

{% endblock %}