{% extends 'base.html' %}

{% block title %} Board delete {% endblock %}
{% block content %}
 <main id="dashboard">
     <h2><button class="button_board"  type="submit"><a href="javascript:history.back()">Back</a></button>
            Delete board
            <button class="button_logout" type="submit"><a href="{% url "logout" %}">Logout</a></button>
    </h2>
    <hr class="white">

            {% if not column %}
                    <h4>Column doesn't exist!</h4>
            {% else %}

            <h3> Are you sure to delete the column "{{ column.name }}"? </h3>
                 <form action="." method="POST" >
                     {% csrf_token %}
                     <button class="button_acces" type="submit"><a>Delete</a></button>
                 </form>
            {%  endif %}
 </main>

{% endblock %}