{% extends 'base.html' %}

{% block title %} Login {% endblock %}


{% block content %}
    <main id="createCard">
        <h2>Create New Card</h2>

        <form method="post" id="newCardForm">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button_acces" type="submit">Save Card</button>
            <br>
        </form>

    </main>
{% endblock %}


