{% extends 'base.html' %}

{% block title %} Create new column {% endblock %}
{% block content %}
    <main id="dashboard">
        <h2>
            <button class="button_board"  type="submit">
                <a href="javascript:history.back()">Back</a>
            </button>
            Create new column
            <button class="button_logout" type="submit">
                <a href="{% url "logout" %}">Logout</a>
            </button>
        </h2>
        <hr class="white">
            <h4 class="welcome">{{ user.username }}</h4>
        <hr class="white">

    <form method="post" id="createNewColumnForm">
        {% csrf_token %}
        {% for field in form %}
            {{ field.label_tag }}<br>
            {{ field }}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
            <br>
            <button class="button_acces" type="submit">Create</button>
          </p>
        {% endfor %}
        <br>
        </form>
    </main>
{% endblock %}