{% extends 'base.html' %}

{% block title %} Dashboard {% endblock %}
{% block content %}
    <main id="dashboard">
        <h2><button class="button_board" type="submit"><a href="{% url "createNewBoard" %}">Add Board</a></button>
            Dashboard
            <button class="button_logout" type="submit"><a href="{% url "logout" %}">Logout</a></button></h2>
    <hr class="white">
    <h4 class="welcome">{{ user.username }}</h4>
        <hr class="white">
        <div class="cards">
        {% for b in board %}

            <a class="marginBoards">
                <button class="button_modify " onclick="window.location.href = 'board/{{ b.id }}';">
                    <article>
                        <header class="headerDashboard">
                              {{ b.name }} ( {{ b.id }} )
                        </header>
                        <div class="content">
                             <p>
                                {{ b.author }}
                                <br>
                                 {{ b.date }}
                             </p>
                         </div>
                    </article>
                </button>
            <!-- solo l' autore di una board può cancellarla-->
{%  if user == b.author %}
                <button class="button_delete"  onclick="window.location.href = 'boardDelete/{{ b.id }}';">
                    Delete
                </button>
{% endif %}
            </a>
        {% endfor %}

        </div>
    </main>
{% endblock %}


