{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
<main id="loginMain">
    <h2>Login</h2>

    <form method="post" id="loginForm">
        {% csrf_token %}
        {% for field in form %}
          <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
        {% endfor %}
        <button class="button_acces" type="submit">Login</button>
        <br>
    </form>
         <button class="button_acces" onclick="window.location.href='signup/'" type="submit">Signup</button>


</main>

{% endblock %}
