{% extends 'base.html' %}

{% block title %} Modify Column {% endblock %}
{% block content %}
 <main id="dashboard">
     <h2><button class="button_board"  type="submit"><a href="javascript:history.back()">Back</a></button>
            Modify Column
            <button class="button_logout" type="submit"><a href="{% url "logout" %}">Logout</a></button>
    </h2>
    <hr class="white">

    <form method="post" id="modifyColumn">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button_acces" type="submit">Save name</button>
        </form>


    <h4>Cards of board:</h4>
    <ul>
        {%  for card in cards %}
            <li>
                    {{ card.title }}

                    <button class="button_delete"  onclick="window.location.href = 'cardModify/{{ card.id }}';">
                    Modify
                    </button>

                    <button class="button_delete"  onclick="window.location.href = 'cardDelete/{{ card.id }}';">
                    Delete
                    </button>

            </li>
        {% endfor %}
    </ul>
 </main>

{% endblock %}