{% extends 'base.html' %}

{% block content %}
<main id="signUpMain">
    <h2>Sign up</h2>
    <form method="post" id="signUpForm">
        {% csrf_token %}
        {% for field in form %}
          <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% for error in field.errors %}
              <p style="color: yellow">{{ error }}</p>
            {% endfor %}
          </p>
        {% endfor %}
        <button class="button_acces" type="submit">Sign up</button>
    </form>
</main>
{% endblock %}