/**
    GENERALfffff
 */

 * {
    box-sizing: border-box;
 }
body{
    background-color: #013e7f;
    color: #fcfcfc;
    font-family: "Alegreya Sans", "Arial", sans-serif;
    font-size: 17px
}
    a:link {color: #FFFFFF;}
    a:visited {color: #FFFFFF;}
    a:hover {color: #d4d4d4;}
    a:active {color: #ff8e00;}


main#loginMain {
    text-align: center;
}
main#signUpMain {
    text-align: center;
}
main#dashboard{
    text-align: center;
}

form#loginForm {
 width: 100%;

}

form#signUpForm{
    width: 100%;

}
form#dashboard{
    width: 100%;

}
button.button_board1,button.button_board,button.button_acces,button.button_logout{
    width: 100px;
    height: 40px;
    background: linear-gradient(to bottom, #4CAF50 0%,#4CAF51 100%); /* W3C */
    border: none;
    border-radius: 5px;
    position: relative;
    text-align: center;
    color: #fbfbfb;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    font-size: 15px;
    text-indent: 5px;
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
    cursor: pointer;

}
.goback:active{
      box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
  top: 1px;
}

.goback:after {
content: "";
  width: 0;
  height: 0;
  display: block;
  border-top: 20px solid #187dbc;
  border-bottom: 20px solid #187dbc;
  border-right: 16px solid transparent;
  border-left: 20px solid #187dbc;
  position: absolute;
  opacity: 0.6;
  left: 0;
  top: 0;
  border-radius: 5px 0 0 5px;
}
.goback {
    margin: 0.5%;
  text-align: right;
  padding-right: 12px;
  box-sizing: border-box;
}

.button_acces {
    text-align: center;
    margin: 1%;
    cursor: pointer;
    width: 50%;

}

.button_board{
    text-align: center;
    right: 30%;

}
.button_board1{
    text-align: center;
    right: 26%;
    margin-right: 1%;

}


.button_logout{
    text-align: center;

    left: 30%;
}

input[type=text], select {
  width: 30%;
    text-align: center;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password], select {
  width: 30%;
    text-align: center;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.cards {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr   ;
}

.articleDashboard {

    margin-bottom: 1.5px;
    border-radius: .5em;
}

.content {
    margin-top: 1.5px;
    background-color: rgba(215, 234, 255, 0.9);
    padding: .5em;
    border-radius: .5em;
    color: #222;
    cursor: pointer;

}

.headerDashboard {
    margin-top: 1em;
    padding: 0.5em;
    background-color: #00b734;
    color: #fff;
     border-radius: .5em;
    cursor: pointer;

}

.button_modify{
    width: 100%;
    background-color: transparent;
    border: none;
}
.button_delete{
    background-color: #00b7a8;
    border: none;
    border-radius: 5px;
    position: relative;
    text-align: center;
    color: #fbfbfb;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    font-size: 15px;
    text-indent: 5px;
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
    cursor: pointer;

}

.welcome{
    position: relative;
    margin: 0.01px;
}
.marginBoards{
   margin: 5%;
}

.white{
    color: white;
}



table{
    width: 100%;
    height: 100%;
}

.content2{
     margin-top: 1.5px;
    background-color: transparent;
    padding: .5em;
    border-radius: .5em;
    color: transparent;
    width: 100%;
}

.content1 {
    width: 100%;
    align-items: center;
    margin-top: 1.5px;
    background-color: rgba(215, 234, 255, 0.9);
    padding: .5em;
    border-radius: .5em;
    color: #222;
    cursor: pointer;
}
th{
    width: revert;
}



/* Remove extra left and right margins, due to padding in columns */



